.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/04/25/22/28/despaired-2261021_960_720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: linear-gradient(to bottom, #00f4e9, #00d0ff, #00a8ff, #0076ff, #1225eb);
}